
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kullanici Adı</label>
        <input type="text" class="form-control" name="kullaniciadi" />
    </div>

    <div style="margin-top:15px">
        <label>Kullanici Şifre</label>
        <input type="text" class="form-control" name="kullanicisifre" />
    </div>

    <div style="margin-top:15px">
        <label>Kimlik No</label>
        <input type="text" class="form-control" name="kimlikno" />
    </div>

    <div style="margin-top:15px">
        <label>Firma Id</label>
        <input type="text" class="form-control" name="firmaid" />
    </div>


    <div style="margin-top:15px">
        <label>Personel Adı</label>
        <input type="text" class="form-control" name="personeladi" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Soyadı</label>
        <input type="text" class="form-control" name="personelsoyadi" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Mail</label>
        <input type="text" class="form-control" name="personelmail" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Adres</label>
        <input type="text" class="form-control" name="adres" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Telefon</label>
        <input type="text" class="form-control" name="telefon" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Birimi</label>
        <input type="text" class="form-control" name="birimi" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Giriş</label>
        <input type="text" class="form-control" name="giriszamani" />
    </div>


    <div style="margin-top:15px">
        <label>Personel Çıkış</label>
        <input type="text" class="form-control" name="cikiszamani" />
    </div>


    <div style="margin-top:15px">
        <label>Personel Ziyaret Saatleri</label>
        <input type="text" class="form-control" name="ziyaretsaati" />
    </div>


    <div style="margin-top:15px">
        <label>Personel Maaş</label>
        <input type="text" class="form-control" name="personelmaas" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Mesai</label>
        <input type="text" class="form-control" name="mesai" />
    </div>


    <div style="margin-top:15px">
        <label>Personel Oda ID</label>
        <input type="text" class="form-control" name="odaid" />
    </div>



    <div style="margin-top:15px">
        <button class="btn btn-danger" id="Btn1">Personel Ekle</button>
    </div>
</form>

