
@{
    ViewBag.Title = "FirmaEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Firma Adı</label>
        <input type="text" class="form-control" name="firmaadi" />
    </div>

    <div style="margin-top:15px">
        <label>Firma Telefon</label>
        <input type="text" class="form-control" name="firmatelefon" />
    </div>

    <div style="margin-top:15px">
        <label>Firma Mail</label>
        <input type="text" class="form-control" name="firmamail" />
    </div>


    <div style="margin-top:15px">
        <button class="btn btn-danger" id="Btn1">Firma Ekle</button>
    </div>
</form>



