@using Facerecognition.Models.Entity
@model List<Firma>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="well">Firmalar</h2>

<div style="margin-bottom:15px; margin-top:15px;">
    <input type="text" class="form-control" placeholder="Firma Ara" />
</div>

<table class="table table-bordered">
    <tr class="alert-success">
        <th>Firma Id</th>
        <th>Firma Adı</th>
        <th>Firma Telefon</th>
        <th>Firma Mail</th>
        <th>Firma Sil</th>
        <th>Firma Güncelle</th>

    </tr>
    @foreach (var frm in Model)
    {
        <tr>
            <td>@frm.firmaid</td>
            <td>@frm.firmaadi</td>
            <td>@frm.firmatelefon</td>
            <td>@frm.firmamail</td>
            
            <td><a href="/Firma/FirmaSil/@frm.firmaid" class="btn btn-danger">Sil</a></td>
            <td><a href="/Firma/FirmaGetir/@frm.firmaid" class="btn btn-success">Güncelle</a></td>


        </tr>
    }
</table>
<a href="/Firmalar/FirmaEkle" class="btn btn-primary">Yeni Firma Ekle</a>

