@{ ViewBag.Title = "PersonelEkle";
                Layout = "~/Views/Shared/Layout.cshtml"; }

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kullanici Adı</label>
        <input type="text" class="form-control" name="kullanıcı_ADI" />
    </div>

    <div style="margin-top:15px">
        <label>Kullanici Şifre</label>
        <input type="text" class="form-control" name="kullanıcı_sifre" />
    </div>

    <div style="margin-top:15px">
        <label>Kimlik No</label>
        <input type="text" class="form-control" name="kimlik_numarası" />
    </div>

    <div style="margin-top:15px">
        <label>Firma Id</label>
        <input type="text" class="form-control" name="firma_ID" />
    </div>


    <div style="margin-top:15px">
        <label>Personel Adı</label>
        <input type="text" class="form-control" name="Padsoyad" />
    </div>


    <div style="margin-top:15px">
        <label>Personel Mail</label>
        <input type="text" class="form-control" name="mail" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Adres</label>
        <input type="text" class="form-control" name="adres" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Telefon</label>
        <input type="text" class="form-control" name="telefon" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Birimi</label>
        <input type="text" class="form-control" name="birimi" />
    </div>



    <div style="margin-top:15px">
        <label>Personel Ziyaret Saatleri</label>
        <input type="text" class="form-control" name="ziyaret_saatleri" />
    </div>


    <div style="margin-top:15px">
        <label>Personel Maaş</label>
        <input type="text" class="form-control" name="maas" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Mesai</label>
        <input type="text" class="form-control" name="mesai" />
    </div>


    <div style="margin-top:15px">
        <label>Personel Oda ID</label>
        <input type="text" class="form-control" name="oda_ID" />
    </div>

    <div style="margin-top:15px">
        <label>Personel Resim</label>
        <input type="text" class="form-control" name="personel_resim" />
    </div>
    <div style="margin-top:15px">
        <label>Personel Anahtar</label>
        <input type="text" class="form-control" name="personel_anahtar" />
    </div>


    <div style="margin-top:15px">
        <button class="btn btn-danger" id="Btn1">Personel Ekle</button>
    </div>
</form>