@{ ViewBag.Title = "BirimEkle";
                Layout = "~/Views/Shared/Layout.cshtml"; }

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Birim ID</label>
        <input type="text" class="form-control" name="birim_ID" />
    </div>

    <div style="margin-top:15px">
        <label>Birimi</label>
        <input type="text" class="form-control" name="birimi" />
    </div>


    <div style="margin-top:15px">
        <button class="btn btn-danger" id="Btn1">Birim Ekle</button>
    </div>
</form>