
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kameralar Ekranı</h2>

<div style="margin-top:15px">
    <label>Dosya Adresi :</label>
    <input type="text" class="form-control" name="dosyaadresi" id="dosyaAdresi" />
</div>

<div style="margin-top:15px">
    <button class="btn btn-danger" type="submit" id="buton1">Dosya İndir</button>
</div>
