@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/Layout.cshtml"; }

<h2>Kameralar Ekranı</h2>

<div style="margin-top:15px">
    <label>İndirilecek dosya: </label>
 
</div>


<a href="~/yeni/Yeni klasör.rar">Download</a>
