
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class=" well">YÜZ TANIMA SİSTEMLERİ- Hoşgeldiniz Sn.&nbsp; <label>Dilan E.</label></h2>
&nbsp;
<img src="~/fonts/yuz-tanima-sistemleri.jpg" height="600" width="1250" />


