@using Facerecognition.Models.Entity
@model List<Kamera>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="well">Kameralar</h2>

<div style="margin-bottom:15px; margin-top:15px;">
    <input type="text" class="form-control" placeholder="Kamera Ara" />
</div>

<table class="table table-bordered">
    <tr class="  alert-success">
        <th>Kamera Ip</th>
        <th>Personel Id</th>
        <th>Firma Id</th>
        <th>Kamera Konum </th>
        <th>Kamera Sil</th>
        <th>Kamera Güncelle</th>

    </tr>
    @foreach (var kmr in Model)
    {
<tr>
    <td>@kmr.kameraip</td>
    <td>@kmr.personelid</td>
    <td>@kmr.firmaid</td>
    <td>@kmr.kamerakonum</td>
    <td><a href="/Kameralar/KameraSil/@kmr.kameraip" class="btn btn-danger">Sil</a></td>
    <td><a href="/Kameralar/KameraGetir/@kmr.kameraip" class="btn btn-success">Güncelle</a></td>


</tr>
    }
</table>


